:root {
  --md-primary-fg-color: #001A5E;
  --md-primary-fg-color--light: #3c59ff;
  --md-primary-fg-color--dark: #000152;
  /* --md-default-fg-color--lightest: rgb(101, 180, 255); */

  --md-text-link-color: hsl(231deg 99% 66%);
}

:root>* {
  --md-code-fg-color: #fff;
  --md-code-bg-color: rgb(24, 48, 85);
  --md-code-number-color: #ddd;
}

.md-header {

  padding-top: 0rem;
  height: 3rem;
  /* color: #001A5E; */
  box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
  /* border-bottom: 1px solid rgb(212, 218, 223); */
  background-color: rgb(12, 25, 44);
  /* height: 70px; */
}

.md-header__topic:first-child {
    font-weight: 500;
}

main {
  background-color: rgb(245, 247, 249);
}

article>h1 {
  padding: 40px 0 40px;

  border-bottom: 1px solid rgb(230, 236, 241);
}

.md-content {
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}

.md-typeset {
  line-height: 1.625;
}

/* a:not([href*='htdocs.io']):not([href*='github.com']):not([href^='#']):not([href^='../']):not([href^='./']):not([href^='/']):not([href*='127.0.0.1']):after {
  font-family: 'FontAwesome';
  content: " \f08e";
}

a([href*='github.com']):before {
  font-family: 'FontAwesome';
  content: " \f08e";
} */

/* font-size: 16px;
    font-family: Content-font,
    Roboto,
    sans-serif;
    font-weight: 400; */


.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  border-radius: 3px;
  width: 1.8rem;
  height: 1.8rem;
}


.md-header__title {

  font-size: 24px;
  font-family: Content-font,
    Roboto,
    sans-serif;
  font-weight: 500;
  margin-left: 0rem;
  /* padding: 0.3rem 0.1rem; */
  /* line-height: 1.5;
   */
  /* padding-top: 10px;
  overflow-wrap: break-word; */

}

.md-main__inner {
  margin-top: 0px;
  /* margin-left: 0px; */
}

.md-sidebar {
  padding-top: 40px;
}

.md-sidebar--primary {
  background: rgb(245, 247, 249);
  /* align-items: stretch; */
  border-right: 1px solid rgb(230, 236, 241);
}

/*
.md-sidebar--secondary {
  background-color: #fff;
} */




.codehilitetable .linenodiv pre,
.highlighttable .linenodiv pre {
  color: rgb(92, 105, 117);
  line-height: 1.4;
  font-size: 14px;
}

table.highlighttable>tbody>tr {
  padding: 10px;

  border-radius: 3px;
  /* background-color: var(--md-code-bg-color); */
}

.codehilitetable .linenodiv,
.highlighttable .linenodiv {
  line-height: 1.4;
  /* box-shadow: -0.05rem 0 rgb(92, 105, 117) inset; */
}


.md-typeset code {
  font-size: 14px;
  line-height: 1.4;
  font-family: "Source Code Pro",
    Consolas,
    Menlo,
    Monaco,
    Courier,
    monospace;
}


.md-typeset a {
  color: var(--md-text-link-color);
}